<%= simple_form_for(@invoice) do |f| %>
  <form>
    <div class="form-group row">
      <%= f.input :date, as: :date, input_html: {class: 'form-control form-datepicker'} %>
    </div>
    <div class="form-group row">
      <%= f.input :statue, label: 'Statut', class:"form-control" %>
    </div>
    <div class="form-group row">
      <%= f.select :client_id, Client.pluck(:company_name, :id), {}, class: "form-control" %>
    </div>
    
    <div class="form-group text-center my-3">
      <%= f.button :submit, class:"btn btn-success" %>
    </div>
  </form>
<% end %>