<%= simple_form_for @invoice  do |f| %>
  <form>
    <div class="form-group row">
      <%= f.input :date, as: :date, input_html: {class: 'form-datepicker'}, label: 'Date du devis' %>
    </div>
    <div class="form-group row">
      <%= f.input :statue, label: 'Statut du devis', class:"form-control" %>
    </div>
    <div class="form-group row">
      <%= f.label "Client", class: 'form-label' %>
      <%= f.select :client_id, Client.pluck(:company_name, :id), {},  class: "form-control" %>
    </div>

    <div class="form-group row">
      <%= f.simple_fields_for :selections do |ff| %>
        <%= ff.hidden_field :invoice_id, :value => @invoice.id, class: 'form-control' %>
    </div>
    <div class="form-group row">
      <%= ff.simple_fields_for :product do |fff| %>
        <%= fff.input :title, class: 'form-control' %>
        <%= fff.input :description, class:"form-control" %>
        <%= fff.input :price, class:"form-control" %>
      <% end %>
    </div>
      <% end %>
    
   

    

    <div class="form-group text-center my-3">
      <%= f.button :submit, class:"btn btn-success" %>
      
    </div>
  </form>
<% end %>