<body class="">
  <div class="container" style="padding-top: 100px;">
    <div class="row justify-content-center align-items-center">
      <div class="col-12">
        <div class="container-fluid">
          <div class="row justify-content-between align-items-end">
            <div class="col-lg-6 col-sm-2 w-auto">
              <h1 class="display-2 fw-bold">Devis</h1>
              <p class="fs-5">Bienvenue, vous avez <%= @invoices %> devis en cours</p>
            </div>
            <div class="col-lg-auto col-sm-1 w-auto">
              <div class="navbar">
                <ul style="padding-left: 0;">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="text-decoration: none; color: #c8caec;">
                      Menu
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #292C6D;">
                      <% if user_signed_in? %>
                        <li><%= link_to "Clients", clients_path, style:"color: #c8caec;", class:"dropdown-item"%></li>
                        <li><%= link_to "Accéder au profil", edit_user_registration_path(@current_user), style:"color: #c8caec;", class:"dropdown-item"%></li>
                        <div class="dropdown-divider"></div>
                        <li> <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class:"dropdown-item" %></li>
                      <% else %>
                        <li><%= link_to "Se connecter", new_user_session_path, style:"color: #c8caec;", class:"dropdown-item"%></li>
                        <li><%= link_to "Créer un compte", new_user_registration_path, style:"color: #c8caec;", class:"dropdown-item"%></li>
                      <% end %>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-auto col-sm-1 mb-4 w-auto">
              <%= link_to new_invoice_path do %>
              <div class="inline-item align-items-center" id="hover-button">
                <button type="button" class="btn-icon btn text-white">
                  <span class=""><i class="fas fa-plus-circle" style="color: white;"></i></span>
                  <span class="px-2 mb-4">Nouveau devis</span>
                </button>
              </div> 
              <% end %>
            </div>
          </div>
          <div class="row" style="height= 800px;">
            <div class="d-flex justify-content-center">
              <div class="table-responsive w-100" >
                <table class="table table-hover" > 
                  <% @invoice.each  do |invoice| %>
                  <tbody>
                    <tr>
                        <td><%= Time.now.year %><%= invoice.id %></td>
                        <td><%= invoice.user_id %></td>
                        <%# <td><%= invoice.date.strftime('%d/%m/%Y') %></td> %>
                        <td><%= invoice.client.company_name %></td>
                        <td><%= invoice.total_invoice %> € </td>
                        <% if invoice.statue == "en cours" %>
                        <td><span class="badge1"><%= invoice.statue %></span></td>
                        <% elsif invoice.statue == "completed" %>
                        <td><span class="badge2"><%= invoice.statue %></span></td>
                        <% else %>
                        <td><span class="badge3"><%= invoice.statue %></span></td>
                        <% end %>
                        <td>
                          <%= link_to invoice_path(invoice.id), method: "get" do %>
                              <i class="fas fa-arrow-circle-right"></i>
                          <% end %>
                        </td>
                    </tr>
                  </tbody>
                  <% end %>
                </table>
                <!-- <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-start">
                    <li class="page-item">
                      <%# <%= link_to "Last Page", invoices_path(page: @page - 1), class:"page-link" %> %>
                    </li>
                      <%# #<%= link_to "Next page", invoices_path(page: @page + 1), class:"page-link" %> %>
                    </li>
                  </ul>
                </nav> -->
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>  
    </div>
  </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>