<div class="container">
  <div class="row justify-content-center p-5">
    <div class="card col-6">
      <div class="card-header">
        <h5>Modifier Client</h5>
      </div>
      <div class="card-body">
        <%= simple_form_for @clients do |f| %>
          <%= f.input :company_name %>
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :adress %>
          <%= f.input :phone_number %>
          <%= f.input :mail %>
          <%= f.button :submit %>
        <% end %>
      </div>
      <div class="card-footer">
        back
      </div>
    </div>
  </div>
</div>