<div class="container">
  <div class="row p-5">
    <div class="card col-12">
      <div class="card-header">
        <h5>Liste des clients</h5>      
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
           <tr>
              <th scope="col">#</th>
              <th scope="col">Nom de l'entreprise</th>
              <th scope="col">Nom</th>
              <th scope="col">Prénom</th>
              <th scope="col">Adresse</th>
              <th scope="col">N° de téléphone</th>
              <th scope="col">Email</th>
            </tr>
          </thead>
          <% @clients.each do |client| %>
          <tbody>
            <tr>
              <th scope="row"><%= client.id %></th>
              <td><%= client.company_name %></td>
              <td><%= client.first_name %></td>
              <td><%= client.last_name %></td>
              <td><%= client.adress %></td>
              <td><%= client.phone_number %></td>
              <td><%= client.mail %></td>
            </tr>
          </tbody>
          <% end %>
        </table>
      </div>
      <div class="card-footer">
        <%= link_to "Ajouter un nouveau client", new_client_path(@clients), class:"btn btn-primary" %>
      </div>
    </div>
  </div>
</div>